---
// import Layout from "../../layouts/Layout.astro";
import '../../styles/index.css'
import GlobalLayout from '../../layouts/GlobalLayout.astro'
import { getBlogs, getBlogDetail } from '../../library/microcms'
import DetailPost from '../../layouts/DetailPost.astro'

export const getStaticPaths = async () => {
  const response = await getBlogs({ fields: ['id'] })
  return response.contents.map((content: any) => ({
    params: {
      blogId: content.id,
    },
  }))
}
const { blogId } = Astro.params
const blog = await getBlogDetail(blogId as string)
---

<GlobalLayout>
  <main class="main_c">
    <DetailPost title={blog.title} body={blog.content} tags={blog.category} date={`${blog.publishedAt}`} />
  </main>
</GlobalLayout>
